/*importando font   */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* resentando o CSS e alteradno a cor de fundo padrão e a fonte padrão*/
*{
  margin: 0;
  padding: 0;
  background-color: #F3F5FC;
}

.img-logo {
  width: 120px;
  height: 48px;
  margin-top: 10px;
  margin-left: 40px;
  gap: 40px;
}

.container-main {
  display: flex;
}

.section-codeDecode {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 150px;
}

.textarea-code-decode {
  width: 500px;
  height: 150px;
  margin-left: 50px;
  top: 168px;
  border: none;
  text-transform: lowercase;
  color: #0A3871;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  resize: none;
}

.textarea-code-decode:focus{
  outline: none;
}

::placeholder {
  color: #0A3871;
}

.alert {
  width: 46px;
  border: 3px solid black;
  border-radius: 90%;
  background-color: black;
  color: white;
}

.p-alert {
width: 330px;
height: 18px;
margin-left: 20px;
margin-bottom: 5px;
font-family:"Inter", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 18px;
}

.div-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.btn-code {
  width: 328px;
  height: 67px;
  gap: 24px;
  color: white;
  border-radius: 24px;
  border: 1px solid #0A3871;
  background-color: #0A3871;
  font-size: large;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.btn-decode {
  width: 328px;
  height: 67px;
  gap: 24px;
  color:#0A3871;
  border-radius: 24px;
  border: 1px solid #0A3871;
  background-color: gainsboro;
  font-size: large ;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.section-result {
  width: 300px;
  height: 400px;
  margin-left: 150px;
  margin-bottom: 4px;
  border-radius: 20px;
  border: 1px solid black;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.img_busca {
  width: 280px;
  height: 250px;
  background-color: white;
}

.img_menssagem {
  width: 280px;
  height: 120px;
  background-color: white;
  gap: 8px;
  margin-top: 5px;
}

.textarea-section-result {
  width: 295px;
  height: 280px;
  border-radius: 20px;
  border: none;
  text-transform: lowercase;
  color: #0A3871;
  padding-bottom: 30px;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  resize: none;
}

.btn-copiar {
  width: 295px;
  height: 67px;
  gap: 24px;
  color:#0A3871;
  border-radius: 24px;
  border: 1px solid #0A3871;
  background-color: gainsboro;
  font-size: large ;
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.textarea-section-decode {
  width: 295px;
  height: 280px;
  border-radius: 20px;
  border: none;
  text-transform: lowercase;
  color: #0A3871;
  padding-bottom: 30px;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  resize: none;
}

.containe-footer {
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-top: 70px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 768px) {
  .img-logo {
    width: 100px;
    height: 45px;
    top: 75px;
    left: 40px;
  }

  .container-main {
    display: flex;
    flex-direction: column;
    top: 2024px;
  }

  .section-codeDecode {
    display: flex;
    flex-direction: column;
    width: 760px;
    margin: 0px 0px 0px 0px;
  }

  .textarea-code-decode {
    width: 688px;
    height: 48px;
    margin: 40px 36px 10px 36px;
    border: none;
    text-transform: lowercase;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    resize: none;
  }

  .textarea-code-decode:focus{
    outline: none;
  }

  ::placeholder {
    color: #0A3871;
  }

  .p-alert {
  width: 500px;
  height: 18px;
  margin-top: 280px;
  margin-left: 40px;
  margin-bottom: 5px;
  font-family:"Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  }

  .alert {
    width: 46px;
    border: 3px solid black;
    border-radius: 90%;
    background-color: black;
    color: white;
  }

  .div-btn {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .btn-code {
    width: 328px;
    height: 67px;
    gap: 24px;
    color: white;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background-color: #0A3871;
    font-size: large;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
  }

  .btn-decode {
    width: 328px;
    height: 67px;
    gap: 24px;
    color:#0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background-color: gainsboro;
    font-size: large ;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
  }

  .section-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 760px;
    height: 343px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    gap: 32px;
    border: 1px solid black;
    border: none;
    background-color: white;
  }

  .img_busca {
    display: none;
  }

  .img_menssagem {
    width: 280px;
    height: 120px;
    background-color: white;
    gap: 8px;
    margin-top: 5px;
  }

  .textarea-section-result {
    width: 624px;
    height: 180px;
    border-radius: 32px;
    gap: 32px;
    border: none;
    text-transform: lowercase;
    color: #0A3871;
    padding-bottom: 0px;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    resize: none;
  }

  .btn-copiar {
    width: 624px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    gap: 8px;
    color:#0A3871;
    background-color: gainsboro;
    font-size: large ;
    margin-top: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
  }

  .textarea-section-decode {
    width: 624px;
    height: 180px;
    border-radius: 32px;
    gap: 32px;
    border: none;
    text-transform: lowercase;
    color: #0A3871;
    padding-bottom: 0px;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    resize: none;
  }

  .containe-footer{
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

}

@media (max-width: 375px) {

  header {
    width: 375px;
    height: 96px;
  }

  .img-logo {
    width: 78px;
    height: 48px;
    align-items: center;
    top: 24px;
    margin-left: 0px;
  }

  .container-main {
    display: flex;
    flex-direction: column;
    height: 533px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .section-codeDecode {
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: 0px 0px 0px 0px;
  }

  .textarea-code-decode {
    width: 343px;
    height: 48px;
    margin-top: -20px;
    margin-left: 16px;
    margin-right: 16px;
    border: none;
    text-transform: lowercase;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    resize: none;
  }

  .textarea-code-decode:focus{
    outline: none;
  }

  ::placeholder {
    color: #0A3871;
  }

  .p-alert {
    width: 300px;
    height: 18px;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family:"Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    }

    .alert {
      width: 46px;
      border: 3px solid black;
      border-radius: 90%;
      background-color: black;
      color: white;
    }


  .div-btn {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin-left: 16px;
    gap: 24px;
  }

  .btn-code {
    width: 343px;
    height: 67px;
    gap: 8px;
    color: white;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background-color: #0A3871;
    font-size: large;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
  }

  .btn-decode {
    width: 343px;
    height: 67px;
    gap: 8px;
    color:#0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background-color: gainsboro;
    font-size: large ;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
  }

  .section-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 284px;
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 0px;
    gap: 32px;
    border: 1px solid black;
    border: none;
    background-color: white;
  }

  .img_busca {
    display: none;
  }

  .img_menssagem {
    width: 327px;
    height: 186px;
    border-radius: 32px;
    background-color: white;
    padding: 4px;
  }

  .textarea-section-result {
    width: 343px;
    height: 240px;
    border-radius: 32px;
    border: none;
    padding-bottom: 0px;
    text-transform: lowercase;
    text-align:left;
    color: #0A3871;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    resize: none;
  }

  .btn-copiar {
    width: 279px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    gap: 8px;
    color:#0A3871;
    background-color: gainsboro;
    font-size: large ;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
  }

  .textarea-section-decode {
    width: 343px;
    height: 240px;
    border-radius: 32px;
    border: none;
    text-transform: lowercase;
    color: #0A3871;
    padding-bottom: 0px;
    background-color:white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    resize: none;
  }

  .containe-footer{
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
  }

}